{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="post">
	{% for post in CAGETORY %}
				<!-- Heading -->
				<a href="#"><h2>{{post.title}}</h2></a>
				<hr>
				<div class="in-content">
					<p>
						{{post.body}}
					</p>
					<a class="read-more" href="{{post.id}}">Read more</a>
				</div>
				<div class="foot-post">
					<div class="units-row">
					    <div class="unit-100">
					    	<strong>Tags:</strong>
					    	<a href="#">Galaxy</a>,
					    	<a href="#">Human</a>,
					    	<a href="#">World</a>,
					    </div>
					    <div class="unit-100">
					    	<strong>COMMENTS:</strong> 
					    	<a href="#">3</a>
					    </div>
					</div>
				</div>
	{% endfor %}
</div>
{% endblock %}